<html>
<head>
    <style>
    </style>
</head>
<body>
    <p>Hola {{name}},</p>
    <p>Has solicitado restablecer tu contraseña.</p>
    <p>Por favor, haz clic en el enlace de abajo para restablecer tu contraseña:</p>
    <a href="https://{{link}}">Restablecer Contraseña</a>
</body>
</html>
